CREATE DATABASE [IzinTalepUygulamasiDB];
GO
USE [IzinTalepUygulamasiDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 15.10.2025 13:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApprovalLogs]    Script Date: 15.10.2025 13:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApprovalLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LeaveRequestId] [int] NOT NULL,
	[ProcessedByManagerId] [int] NOT NULL,
	[NewStatus] [int] NOT NULL,
	[Comments] [nvarchar](500) NULL,
	[ProcessingDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ApprovalLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveRequests]    Script Date: 15.10.2025 13:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RequestingEmployeeId] [int] NOT NULL,
	[LeaveType] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[RequestDate] [datetime2](7) NOT NULL,
	[Reason] [nvarchar](500) NULL,
	[Status] [int] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_LeaveRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15.10.2025 13:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251009205415_InitialCreate', N'9.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251013201418_AddApprovalLog', N'9.0.9')
GO
SET IDENTITY_INSERT [dbo].[ApprovalLogs] ON 

INSERT [dbo].[ApprovalLogs] ([Id], [LeaveRequestId], [ProcessedByManagerId], [NewStatus], [Comments], [ProcessingDate]) VALUES (1, 12, 1, 1, NULL, CAST(N'2025-10-13T23:59:00.7443004' AS DateTime2))
INSERT [dbo].[ApprovalLogs] ([Id], [LeaveRequestId], [ProcessedByManagerId], [NewStatus], [Comments], [ProcessingDate]) VALUES (2, 13, 1, 1, NULL, CAST(N'2025-10-14T00:02:58.9924651' AS DateTime2))
INSERT [dbo].[ApprovalLogs] ([Id], [LeaveRequestId], [ProcessedByManagerId], [NewStatus], [Comments], [ProcessingDate]) VALUES (3, 14, 1, 2, N'test', CAST(N'2025-10-14T00:03:24.7714812' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ApprovalLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[LeaveRequests] ON 

INSERT [dbo].[LeaveRequests] ([Id], [RequestingEmployeeId], [LeaveType], [StartDate], [EndDate], [RequestDate], [Reason], [Status], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, 2, 0, CAST(N'2025-10-12T00:00:00.0000000' AS DateTime2), CAST(N'2025-10-12T00:00:00.0000000' AS DateTime2), CAST(N'2025-10-12T00:57:03.8888921' AS DateTime2), N'tfky', 1, CAST(N'2025-10-12T00:57:03.8890497' AS DateTime2), N'ayse', NULL, NULL)
INSERT [dbo].[LeaveRequests] ([Id], [RequestingEmployeeId], [LeaveType], [StartDate], [EndDate], [RequestDate], [Reason], [Status], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (4, 2, 0, CAST(N'2025-10-08T00:00:00.0000000' AS DateTime2), CAST(N'2025-10-16T00:00:00.0000000' AS DateTime2), CAST(N'2025-10-12T01:01:53.0105716' AS DateTime2), N'srhdtjfgqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq', 2, CAST(N'2025-10-12T01:01:53.0106476' AS DateTime2), N'ayse', NULL, NULL)
INSERT [dbo].[LeaveRequests] ([Id], [RequestingEmployeeId], [LeaveType], [StartDate], [EndDate], [RequestDate], [Reason], [Status], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (12, 2, 0, CAST(N'2025-10-20T00:00:00.0000000' AS DateTime2), CAST(N'2025-10-21T00:00:00.0000000' AS DateTime2), CAST(N'2025-10-13T01:59:03.4278294' AS DateTime2), NULL, 1, CAST(N'2025-10-13T01:59:03.4279114' AS DateTime2), N'ayse', CAST(N'2025-10-13T23:59:00.7440039' AS DateTime2), N'manager')
SET IDENTITY_INSERT [dbo].[LeaveRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [FullName], [Role]) VALUES (1, N'manager', N'123', N'Ali Yönetici', N'Manager')
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [FullName], [Role]) VALUES (2, N'ayse', N'123', N'Ayse Çalisan', N'Employee')
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [FullName], [Role]) VALUES (3, N'mehmet', N'123', N'Mehmet Çalisan', N'Employee')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[ApprovalLogs]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalLogs_LeaveRequests_LeaveRequestId] FOREIGN KEY([LeaveRequestId])
REFERENCES [dbo].[LeaveRequests] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApprovalLogs] CHECK CONSTRAINT [FK_ApprovalLogs_LeaveRequests_LeaveRequestId]
GO
ALTER TABLE [dbo].[ApprovalLogs]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalLogs_Users_ProcessedByManagerId] FOREIGN KEY([ProcessedByManagerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ApprovalLogs] CHECK CONSTRAINT [FK_ApprovalLogs_Users_ProcessedByManagerId]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequests_Users_RequestingEmployeeId] FOREIGN KEY([RequestingEmployeeId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [FK_LeaveRequests_Users_RequestingEmployeeId]
GO
